In [1]:
import spacy

nlp = spacy.load("en_core_web_sm")

In [2]:
sents = []

with open('datasets/finer.conll', 'r') as file:
    
    sent = []
    
    for line in file.readlines():
        if line == '\n':
            sents.append(sent)
            sent = []
            continue
        sent.append(tuple(line.strip().split(' \t ')))

In [3]:
sents[:2]

[[('1', 'B-QUANTITY'),
  ('slice', 'B-UNIT'),
  ('whole', 'B-ING'),
  ('wheat', 'I-ING'),
  ('bread', 'I-ING')],
 [('0.5', 'B-QUANTITY'),
  ('(', 'O'),
  ('1', 'B-QUANTITY'),
  ('ounce', 'B-UNIT'),
  (')', 'O'),
  ('package', 'B-UNIT'),
  ('dry', 'B-ING'),
  ('ranch', 'I-ING'),
  ('-', 'I-ING'),
  ('style', 'I-ING'),
  ('dressing', 'I-ING'),
  ('mix', 'I-ING')]]

In [40]:
sent_id = []
token_text = []
token_lemma = [] 
token_pos = [] 
token_tag = [] 
token_dep = []
token_shape = [] 
token_is_alpha = [] 
token_is_stop = []

for idx, sent in enumerate(sents):
    doc = nlp(" ".join([x[0] for x in sent]))
    for token in doc:
        sent_id.append(idx)
        token_text.append(token.text)
        token_lemma.append(token.lemma_) 
        token_pos.append(token.pos_) 
        token_tag.append(token.tag_) 
        token_dep.append(token.dep_)
        token_shape.append(token.shape_) 
        token_is_alpha.append(token.is_alpha) 
        token_is_stop.append(token.is_stop)

NER_tags = [x[1] for sent in sents for x in sent]

In [45]:
import pandas as pd

df = pd.DataFrame({
    "sent_id" : sent_id,
    "token_text" : token_text,
    "token_lemma" : token_lemma, 
    "token_pos" : token_pos, 
    "token_tag" : token_tag, 
    "token_dep" : token_dep,
    "token_shape" : token_shape, 
    "token_is_alpha" : token_is_alpha, 
    "token_is_stop" : token_is_stop,
    "NER_tags" : NER_tags
})

In [46]:
df

,sent_id,token_text,token_lemma,token_pos,token_tag,token_dep,token_shape,token_is_alpha,token_is_stop,NER_tags
0,0,1,1,NUM,CD,nummod,d,False,False,B-QUANTITY
1,0,slice,slice,NOUN,NN,nmod,xxxx,True,False,B-UNIT
2,0,whole,whole,ADJ,JJ,amod,xxxx,True,True,B-ING
3,0,wheat,wheat,NOUN,NN,compound,xxxx,True,False,I-ING
4,0,bread,bread,NOUN,NN,ROOT,xxxx,True,False,I-ING
...,...,...,...,...,...,...,...,...,...,...
1397955,181969,cut,cut,VERB,VBD,ROOT,xxx,True,False,B-STATE
1397956,181969,into,into,ADP,IN,prep,xxxx,True,True,I-STATE
1397957,181969,2,2,NUM,CD,nummod,d,False,False,I-STATE
1397958,181969,inch,inch,NOUN,NN,compound,xxxx,True,False,I-STATE
1397959,181969,chunks,chunk,NOUN,NNS,pobj,xxxx,True,False,I-STATE

In [48]:
df.to_csv('cleaned.csv')

In [39]:
print(sent_id, token_text, token_lemma, token_pos, token_tag, token_dep, token_shape, token_is_alpha, token_is_stop, NER_tags[:4])

[0, 0, 0, 0, 0] ['1', 'slice', 'whole', 'wheat', 'bread'] ['1', 'slice', 'whole', 'wheat', 'bread'] ['NUM', 'NOUN', 'ADJ', 'NOUN', 'NOUN'] ['CD', 'NN', 'JJ', 'NN', 'NN'] ['nummod', 'nmod', 'amod', 'compound', 'ROOT'] ['d', 'xxxx', 'xxxx', 'xxxx', 'xxxx'] [False, True, True, True, True] [False, False, True, False, False] ['B-QUANTITY', 'B-UNIT', 'B-ING', 'I-ING']

In [32]:
complete_sent_anal[0].pos_

AttributeError: 'spacy.tokens.doc.Doc' object has no attribute 'pos_'

In [26]:
with open("sents.txt", "w") as f:
    for sent in complete_sents:
        f.write(sent + '\n')

In [12]:
import nltk
from nltk import word_tokenize
from nltk import StanfordTagger
 
text_tok = nltk.word_tokenize("1 tablespoon ketchup salt and pepper to taste")
 
# print(text_tok)
pos_tagged = nltk.pos_tag(text_tok)
 
# print the list of tuples: (word,word_class)
print(pos_tagged)
 
# for loop to extract the elements of the tuples in the pos_tagged list
# print the word and the pos_tag with the underscore as a delimiter
for word,word_class in pos_tagged:
    print(word + "_" + word_class)

[('1', 'CD'), ('tablespoon', 'NN'), ('ketchup', 'NN'), ('salt', 'NN'), ('and', 'CC'), ('pepper', 'NN'), ('to', 'TO'), ('taste', 'VB')]
1_CD
tablespoon_NN
ketchup_NN
salt_NN
and_CC
pepper_NN
to_TO
taste_VB

In [11]:
import spacy

nlp = spacy.load("en_core_web_sm")
doc = nlp("1 tablespoon ketchup salt and pepper to taste")

for token in doc:
    print(token.text, token.lemma_, token.pos_, token.tag_, token.dep_,
            token.shape_, token.is_alpha, token.is_stop)

1 1 NUM CD nummod d False False
tablespoon tablespoon NOUN NN compound xxxx True False
ketchup ketchup NOUN NN compound xxxx True False
salt salt NOUN NN nsubj xxxx True False
and and CCONJ CC cc xxx True True
pepper pepper NOUN NN conj xxxx True False
to to PART TO aux xx True True
taste taste VERB VB ROOT xxxx True False

In [49]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize
from nltk import StanfordTagger

lemmatizer = WordNetLemmatizer()

In [84]:
sents = []

with open('datasets/Recipedb-companion-data/ar_gk_test.tsv', 'r') as file:
    
    sent = []
    
    for line in file.readlines():
        if line == '\t\n':
            sents.append(sent)
            sent = []
            continue
        sent.append(tuple(line.strip().split('\t')))
        # print(tuple(line.strip().split('\t')))
        # break

In [85]:
sents[:2]

[[('1/2', 'QUANTITY'),
  ('large', 'SIZE'),
  ('sweet', 'NAME'),
  ('red', 'NAME'),
  ('onion', 'NAME'),
  (',', 'O'),
  ('thinly', 'O'),
  ('sliced', 'STATE')],
 [('6', 'QUANTITY'),
  ('ounces', 'UNIT'),
  ('fresh', 'DF'),
  ('mushrooms', 'NAME'),
  (',', 'O'),
  ('sliced', 'STATE')]]

In [86]:
sent_id = []
token_text = []
token_lemma = [] 
token_tag = [] 

for idx, sent in enumerate(sents):
    tokens = [x[0] for x in sent]
    pos_tagged = nltk.pos_tag(tokens)
    for ids, token in enumerate(pos_tagged):
        sent_id.append(idx)
        token_text.append(token[0])
        token_lemma.append(lemmatizer.lemmatize(token[0])) 
        token_tag.append(token[1])

NER_tags = [x[1] for sent in sents for x in sent]

In [87]:
current_tag = ''

for idx, tag in enumerate(NER_tags):
    if tag in ['O', 'DF', 'TEMP', 'SIZE']:
        continue
    
    if tag != current_tag:
        NER_tags[idx] = 'B-' + tag
        
    if tag == current_tag:
        NER_tags[idx] = 'I-' + tag
    
    current_tag = tag

In [89]:
import pandas as pd

df = pd.DataFrame({
    "sent_id" : sent_id,
    "token_text" : token_text,
    "token_lemma" : token_lemma, 
    "token_tag" : token_tag, 
    "NER_tags" : NER_tags
})

In [90]:
df

       sent_id token_text token_lemma token_tag    NER_tags
0            0        1/2         1/2        CD  B-QUANTITY
1            0      large       large        JJ        SIZE
2            0      sweet       sweet        JJ      B-NAME
3            0        red         red        JJ      I-NAME
4            0      onion       onion        NN      I-NAME
...        ...        ...         ...       ...         ...
12665     2186    bottled     bottled       VBD           O
12666     2186         is          is       VBZ           O
12667     2186         ok          ok        JJ           O
12668     2186        too         too        RB           O
12669     2186      -RRB-       -RRB-        JJ           O

[12670 rows x 5 columns]

In [1]:
df.to_csv('ar_gk_test_cleaned.csv', index=False)

NameError: name 'df' is not defined

In [2]:
import re

id_re = re.compile("recipeID\('([0-9])'")
step_re = re.compile("step\('([0-9]*)', [0-9]*, '(.*)'")
ingredient_re = re.compile("ingredient\('([0-9]*)', '(.*)'")
ingredientAndQuantity_re = re.compile("ingredientAndQuantity\('([0-9]*)', '(.*)'")

In [76]:
steps = []
INQ = []
ingredients = []

with open('recipe_database.pl', 'r') as file:
    
    for line in file.readlines():
        
        if line[:4] == 'step':
            steps.append([step_re.match(line).group(1), step_re.match(line).group(2)])
        elif line[:21] == 'ingredientAndQuantity':
            INQ.append([ingredientAndQuantity_re.match(line).group(1), ingredientAndQuantity_re.match(line).group(2)])
        elif line[:10] == 'ingredient':
            ingredients.append([ingredient_re.match(line).group(1), ingredient_re.match(line).group(2)])

In [78]:
df_INQ

        ID                                               INQs
0        1                                  4 tbsps gochujang
1        1                                    6 tbsps ketchup
2        1                                6 tbsps maple syrup
3        1                                  4 tbsps soy sauce
4        1                          2 tbsps rice wine vinegar
...    ...                                                ...
26127  902  1 small frozen banana (or half of a large banana)
26128  902                                  1 cup almond milk
26129  902                          3.5 oz packet frozen acai
26130  903  1 small frozen banana (or half of a large banana)
26131  903                                  1 cup almond milk

[26132 rows x 2 columns]

In [77]:
df_INQ.to_csv('df_INQ_test.csv')

In [79]:
import pandas as pd

pd.set_option('max_colwidth', 400)

df_steps = pd.DataFrame(steps, columns=['ID', 'Steps'])
df_INQ = pd.DataFrame(INQ, columns=['ID', 'INQs'], dtype=pd.StringDtype())
df_ingredients = pd.DataFrame(ingredients, columns=['ID', 'Ingredients'])

In [81]:
df_ingredients.to_csv('df_ingredients_clean.csv')

In [6]:
ID = 10

display(len(df_INQ[df_INQ['ID'] == str(ID)]))
display(df_ingredients[df_ingredients['ID'] == str(ID)])
display(df_steps[df_steps['ID'] == str(ID)])

8

     ID    Ingredients
126  10         garlic
127  10      sourdough
128  10    goat cheese
129  10         chives
130  10  sunflower oil
131  10          honey
132  10           salt
133  10         pepper

,ID,Steps
159,10,preheat your oven to 130c.
160,10,halve the bulbs of garlic through the middle and place into a small saucepan.
161,10,fill with oil until submerged and then place into the oven for 1 hour.
162,10,"meanwhile, toast the sourdough and spread with a generous layer of goats cheese."
163,10,"finely slice the chives and sprinkle over, along with a pinch of salt and some black pepper."
164,10,"once the garlic is cooked, remove from the oven and allow to cool for about 10 mins."
165,10,"remove and squeeze over the toast, then spread."
166,10,"sprinkle with a pinch of salt, drizzle over the honey and enjoy."

In [46]:
test_re = re.compile("([0-9]*\.?[0-9]*) ?(\( ([0-9]*) ([a-z]*) \))? ([a-z]*) (?:of )?(.*)")

In [53]:
list(test_re.match("4 slices sourdough").groups())

['4', None, None, None, 'slices', 'sourdough']

In [56]:
display(len(df_steps['ID'].unique()))
display(len(df_ingredients['ID'].unique()))

2296

2299

In [102]:
dup_ids = set()

a = df_steps['ID'].unique()

for i in df_ingredients['ID'].unique():
    if i not in a:
        dup_ids.add(str(i))
    elif len(df_INQ[df_INQ['ID'] == i]) != len(df_ingredients[df_ingredients['ID'] == i]):
        dup_ids.add(i)

In [ ]:
dup_ids

In [107]:
list_dup_ids = list(dup_ids)

df_INQ_clean = df_INQ[~df_INQ['ID'].isin(list_dup_ids)].reset_index(drop=True)
df_ingredients_clean = df_ingredients[~df_ingredients['ID'].isin(list_dup_ids)].reset_index(drop=True)
df_steps_clean = df_steps[~df_steps['ID'].isin(list_dup_ids)].reset_index(drop=True)

# df_ingredients[df_ingredients['ID'] == str(ID)])
# df_steps[df_steps['ID'] == str(ID)])

In [111]:
assert len(df_INQ_clean['ID'].unique()) == len(df_ingredients_clean['ID'].unique()) == len(df_steps_clean['ID'].unique())

In [113]:
df_INQ_clean

        ID                                               INQs
0        2                                     500g asparagus
1        2                                        300g butter
2        2                                        4 egg yolks
3        2                              4 slices of sourdough
4        2                           2 tsp white wine vinegar
...    ...                                                ...
20405  902  1 small frozen banana (or half of a large banana)
20406  902                                  1 cup almond milk
20407  902                          3.5 oz packet frozen acai
20408  903  1 small frozen banana (or half of a large banana)
20409  903                                  1 cup almond milk

[20410 rows x 2 columns]

In [112]:
df_INQ_clean.to_csv('df_INQ_clean.csv', index=False)
df_ingredients_clean.to_csv('df_ingredients_clean.csv', index=False)
df_steps_clean.to_csv('df_steps_clean.csv', index=False)

In [62]:
test_df = df_INQ.copy(deep=True)

In [58]:
add_space_re = re.compile('([0-9]+)([a-z]+ )')

convert_to_float_re = re.compile('([0-9]* )?([0-9])/([0-9]*)')

def add_space(matchobj):
    return matchobj.group(1) + ' ' + matchobj.group(2)

def to_float(matchobj):
    if matchobj.group(1) is not None and matchobj.group(1) != ' ':
        try:
            return str(float(matchobj.group(1)) + (float(matchobj.group(2)) / float(matchobj.group(3))))
        except:
            print(matchobj.group(1) is None)
    return str((float(matchobj.group(2)) / float(matchobj.group(3))))

In [60]:
test_df['INQs'] = test_df['INQs'].apply(lambda t: re.sub(add_space_re, add_space, t))
test_df['INQs'] = test_df['INQs'].apply(lambda t: re.sub(convert_to_float_re, to_float, t))

In [118]:
print(pd.__version__)

2.0.3

In [31]:
test_df

        ID                                                        INQs
0        1                                         4   tbsps gochujang
1        1                                           6   tbsps ketchup
2        1                                      6   tbsps  maple syrup
3        1                                        4   tbsps  soy sauce
4        1                               2   tbsps  rice  wine vinegar
...    ...                                                         ...
26127  902  1   small  frozen  banana ( or  half  of  a  large banana)
26128  902                                        1   cup  almond milk
26129  902                               3.5   oz  packet  frozen acai
26130  903  1   small  frozen  banana ( or  half  of  a  large banana)
26131  903                                        1   cup  almond milk

[26132 rows x 2 columns]

In [57]:
re.sub(add_space_re, add_space, '4 tbsps gochujang')

'4  tbsps gochujang'

In [56]:
add_space_re.match('4 tbsps gochujang').group(1)

AttributeError: 'NoneType' object has no attribute 'group'

In [63]:
test_df.to_csv('df_INQ_test.csv', index=False)

In [37]:
test_df

        ID                                                        INQs
0        1                                         4   tbsps gochujang
1        1                                           6   tbsps ketchup
2        1                                      6   tbsps  maple syrup
3        1                                        4   tbsps  soy sauce
4        1                               2   tbsps  rice  wine vinegar
...    ...                                                         ...
26127  902  1   small  frozen  banana ( or  half  of  a  large banana)
26128  902                                        1   cup  almond milk
26129  902                               3.5   oz  packet  frozen acai
26130  903  1   small  frozen  banana ( or  half  of  a  large banana)
26131  903                                        1   cup  almond milk

[26132 rows x 2 columns]

In [64]:
re.sub(r'(\")', '', '"100 g parmesan, plus more for sprinkling"')

'100 g parmesan, plus more for sprinkling'