In [25]:
import re
import pandas as pd
from tqdm import tqdm

In [2]:
regex = "([0-9]*\.?[0-9]*)(?: *)?(\( ([0-9]*)(?: *)?([a-z]*) \))?(?: *)?([a-z]*)(?: *)?(?:of )?(.*)"

test_regex = re.compile(regex)

In [64]:
test_regex.match('2 tsps onion salt').groups()

('2', None, None, None, 'tsps', 'onion salt')

In [3]:
df_INQ = pd.read_csv('df_INQ_test_cleaned.csv')
df_ingredients = pd.read_csv('df_ingredients_clean.csv')

In [4]:
df_ingredients.drop(columns=['Unnamed: 0'], inplace= True)
df_INQ.drop(columns=['Unnamed: 0'], inplace= True)

In [5]:
df_INQ_agged = df_INQ.groupby('ID', as_index=False).agg(pd.Series.tolist)
df_ingredients_agged = df_ingredients.groupby('ID', as_index=False).agg(pd.Series.tolist)

In [13]:
df_INQ_agged

              ID                                               INQs
0              1  [4 tbsps gochujang, 6 tbsps ketchup, 6 tbsps m...
1              2  [500 g asparagus, 300 g butter, 4 egg yolks, 4...
2              3  [320 g puff pastry , 300 g jersey royal baby n...
3              4  [4 rashers smoked streaky bacon, 4 spring onio...
4              5  [500 g pork belly slices, 3 tbsp maple syrup, ...
...          ...                                                ...
2294  1992939336  [1.0 inch bacon, 1.0 can all natural tomato so...
2295  1994124536  [452.0 milliliters candy melts, 2.0 teaspoons ...
2296  1995703213  [793.787 grams head of broccoli, 6.0 garlic cl...
2297  1998044400  [4.0 bay leaves- broken, 850.486 grams chickpe...
2298  1999954299  [180.0 grams flour, 187.5 grams flour, 1.0 tbs...

[2299 rows x 2 columns]

In [81]:
df_INQ_agged.to_csv('df_INQ_agged.csv')
df_ingredients_agged.to_csv('df_ingredients_agged.csv')

In [81]:
test = re.sub(r'(\(.*\))', '', 'djndjd (adjsdnjadnd)')
test

'djndjd '

In [26]:
df_total

,ID,INQs,Ingredients
0,2,500 g asparagus,asparagus
1,2,300 g butter,butter
2,2,4 egg yolks,eggs
3,2,4 slices of sourdough,sourdough
4,2,2 tsp white wine vinegar,wine vinegar
...,...,...,...
20405,902,1 small frozen banana ( or half of a l...,banana
20406,902,1 cup almond milk,almond milk
20407,902,3.5 oz packet frozen acai,packet frozen acai
20408,903,1 small frozen banana ( or half of a l...,banana
20409,903,1 cup almond milk,almond milk

In [88]:
df_finer = pd.read_csv("cleaned.csv")
df_finer

,sent_id,token_text,token_lemma,token_pos,token_tag,token_dep,token_shape,token_is_alpha,token_is_stop,NER_tags
0,0,1,1,NUM,CD,nummod,d,False,False,B-QUANTITY
1,0,slice,slice,NOUN,NN,nmod,xxxx,True,False,B-UNIT
2,0,whole,whole,ADJ,JJ,amod,xxxx,True,True,B-ING
3,0,wheat,wheat,NOUN,NN,compound,xxxx,True,False,I-ING
4,0,bread,bread,NOUN,NN,ROOT,xxxx,True,False,I-ING
...,...,...,...,...,...,...,...,...,...,...
1397955,181969,cut,cut,VERB,VBD,ROOT,xxx,True,False,B-STATE
1397956,181969,into,into,ADP,IN,prep,xxxx,True,True,I-STATE
1397957,181969,2,2,NUM,CD,nummod,d,False,False,I-STATE
1397958,181969,inch,inch,NOUN,NN,compound,xxxx,True,False,I-STATE
1397959,181969,chunks,chunk,NOUN,NNS,pobj,xxxx,True,False,I-STATE

In [94]:
set(df_finer[df_finer['NER_tags'] == 'B-UNIT']['token_text'])

{'assortment',
 'bag',
 'bagels',
 'bags',
 'ball',
 'balls',
 'bar',
 'bars',
 'basket',
 'baskets',
 'batch',
 'bays',
 'birds',
 'blades',
 'block',
 'bone',
 'bottle',
 'bottles',
 'bouquet',
 'bowl',
 'bowls',
 'box',
 'boxes',
 'bulb',
 'bulbs',
 'bunch',
 'bunches',
 'button',
 'cakes',
 'can',
 'canister',
 'cans',
 'carrots',
 'carton',
 'cartons',
 'chips',
 'chopped',
 'chunk',
 'chunks',
 'clove',
 'cloves',
 'container',
 'containers',
 'cookies',
 'cooks',
 'count',
 'craft',
 'crook',
 'crowns',
 'ct',
 'cube',
 'cubes',
 'cup',
 'cups',
 'curl',
 'dash',
 'dashes',
 'day',
 'days',
 'devils',
 'diameter',
 'diameters',
 'dole',
 'dollops',
 'drop',
 'drops',
 'ear',
 'ears',
 'envelope',
 'envelopes',
 'eye',
 'fl',
 'flatout',
 'fluid',
 'foil',
 'foot',
 'fryer',
 'frying',
 'g',
 'gallon',
 'gallons',
 'globe',
 'gram',
 'grams',
 'grind',
 'grinds',
 'half',
 'handful',
 'hank',
 'hass',
 'hatch',
 'head',
 'heads',
 'heaping',
 'heart',
 'hearts',
 'inch',
 'inches',
 'jar',
 'jarred',
 'jars',
 'jerusalem',
 'kg',
 'kisses',
 'knob',
 'lb',
 'leaf',
 'leaves',
 'length',
 'lengths',
 'level',
 'link',
 'links',
 'liter',
 'liters',
 'loaf',
 'loaves',
 'log',
 'logs',
 'lots',
 'lump',
 'medallions',
 'meyer',
 'mg',
 'milliliter',
 'minute',
 'ml',
 'neck',
 'one',
 'ounce',
 'ounces',
 'oval',
 'oz',
 'package',
 'packaged',
 'packages',
 'packet',
 'packets',
 'pats',
 'peel',
 'peels',
 'pie',
 'piece',
 'pieces',
 'pinch',
 'pinches',
 'pint',
 'pints',
 'pitted',
 'pkg',
 'pocket',
 'pod',
 'pods',
 'point',
 'portions',
 'pot',
 'pouch',
 'pouches',
 'pound',
 'pounds',
 'prepared',
 'purchased',
 'quart',
 'quarts',
 'rack',
 'racks',
 'recipe',
 'recipes',
 'reynolds',
 'rib',
 'ribs',
 'ring',
 'rings',
 'roasting',
 'roll',
 'rolls',
 'round',
 'scoop',
 'scoops',
 'second',
 'serving',
 'servings',
 'set',
 'sheet',
 'sheets',
 'shells',
 'shot',
 'shots',
 'signature',
 'skewers',
 'slab',
 'slabs',
 'sleeve',
 'sleeves',
 'slice',
 'sliced',
 'slices',
 'sliver',
 'slivers',
 'spears',
 'spiral',
 'splash',
 'splashes',
 'spray',
 'sprays',
 'sprig',
 'sprigs',
 'sprinkle',
 'sprite',
 'square',
 'squares',
 'squeeze',
 'squeezes',
 'squirts',
 'stalk',
 'stalks',
 'star',
 'steaks',
 'stems',
 'stewing',
 'stick',
 'sticks',
 'store',
 'strands',
 'straw',
 'strip',
 'strips',
 'sub',
 'sugar',
 'supermarkets',
 'tablespoon',
 'tablespoons',
 'tablet',
 'tablets',
 'teaspoon',
 'teaspoons',
 'tins',
 'tray',
 'trays',
 'triangular',
 'tub',
 'tube',
 'tubes',
 'tubs',
 'twist',
 'twists',
 'wedge',
 'wedges',
 'wheel',
 'wheels',
 'wrap',
 'wraps',
 'yard',
 'yards',
 'year'}

In [22]:
units = ['assortment',
 'bag',
 'bags',
 'ball',
 'balls',
 'bar',
 'bars',
 'basket',
 'baskets',
 'batch',
 'blades',
 'block',
 'bone',
 'bottle',
 'bottles',
 'bowl',
 'bowls',
 'box',
 'boxes',
 'bulb',
 'bulbs',
 'bunch',
 'bunches',
 'can',
 'canister',
 'cans',
 'carton',
 'cartons',
 'chunk',
 'chunks',
 'clove',
 'cloves',
 'container',
 'containers',
 'cube',
 'cubes',
 'cup',
 'cups',
 'dash',
 'dashes',
 'drop',
 'drops',
 'ear',
 'ears',
 'flatout',
 'fluid ounces',
 'foot',
 'g',
 'gallon',
 'gallons',
 'gram',
 'grams',
 'handful',
 'head',
 'heads',
 'inch',
 'inches',
 'jar',
 'jars',
 'kg',
 'knob',
 'lb',
 'leaf',
 'leaves',
 'length',
 'lengths',
 'liter',
 'liters',
 'loaf',
 'loaves',
 'log',
 'logs',
 'lump',
 'mg',
 'milliliter',
 'minute',
 'ml',
 'neck',
 'ounce',
 'ounces',
 'oval',
 'oz',
 'package',
 'packaged',
 'packages',
 'packet',
 'packets',
 'peel',
 'peels',
 'piece',
 'pieces',
 'pinch',
 'pinches',
 'pint',
 'pints',
 'pitted',
 'pkg',
 'pocket',
 'pod',
 'pods',
 'portions',
 'pot',
 'pouch',
 'pouches',
 'pound',
 'pounds',
 'quart',
 'quarts',
 'rack',
 'racks',
 'ring',
 'rings',
 'roll',
 'rolls',
 'round',
 'scoop',
 'scoops',
 'serving',
 'servings',
 'set',
 'sheet',
 'sheets',
 'shells',
 'shot',
 'shots',
 'skewers',
 'slab',
 'slabs',
 'sleeve',
 'sleeves',
 'slice',
 'slices',
 'spears',
 'splash',
 'splashes',
 'spray',
 'sprays',
 'sprinkle',
 'square',
 'squares',
 'squeeze',
 'squeezes',
 'squirts',
 'stalk',
 'stalks',
 'star',
 'stems',
 'stewing',
 'stick',
 'sticks',
 'store',
 'strands',
 'straw',
 'strip',
 'strips',
 'tablespoon',
 'tablespoons',
 'tablet',
 'tablets',
 'teaspoon',
 'teaspoons',
 'tins',
 'tray',
 'trays',
 'tub',
 'tube',
 'tubes',
 'tubs',
 'twist',
 'twists',
 'wedge',
 'wedges',
 'wheel',
 'wheels',
 'wrap',
 'wraps',
 'tbsp',
 'tsp',
 'l',
 'g',
 'tbsps',
 'tsps',
 'cm']

In [6]:
import nltk
gram = ("NP: {<VB.*|JJ>?<N.*>*}")

In [12]:
df_ingredients_agged[df_ingredients_agged['ID'] == 0]

Empty DataFrame
Columns: [ID, Ingredients]
Index: []

In [34]:
extract = []
diff = []
loose_count,strict_count, total = 0, 0, 0

for row in tqdm(df_INQ_agged.itertuples()):
    
    ID = row.ID
    
    ingredients = df_ingredients_agged[df_ingredients_agged['ID'] == ID]['Ingredients'].to_list()[0] 
    
    input_texts = row.INQs
    
    for text in input_texts:
        
        result = test_regex.match(text)
    
        if result is not None and result.groups()[-2] in units:
            
            if result.groups()[-1] != '':

                result = result.groups()[-1]
            
            else:
                
                result = text
                
        else:
                
            result = text

        chunking = nltk.RegexpParser(gram)
        sent_token = nltk.word_tokenize(result)
        tagging = nltk.pos_tag(sent_token)
        tree = chunking.parse(tagging)
        
        result = []

        for subtree in tree.subtrees():
            if subtree.label() == 'NP':
                result.extend(subtree.leaves())
                
        final = " ".join([x[0] for x in result])
        
        # if final is not None:
        #     if final in ingredients:
        #         strict_count += 1
        #         loose_count += 1
        #     else:
        #         for inr in ingredients:
        #             if final in inr or inr in final:
        #                 loose_count += 1
        #                 continue
        #         diff.append(f'{text}, {final}, {ingredients} \n')
        #     extract.append(final)
        
        if final is not None:
            if loose_eval(final, ingredients):
                continue
                
            diff.append(f'{text}, {final}, {ingredients} \n')
            
        total += 1
        
    # if total > 1:
    #     break
        
file = open('compare.txt', 'w')

file.writelines(diff)

file.close()
            
print(loose_count)
print(strict_count)
print(total)
print(loose_count/total)
print(strict_count/total)

0it [00:00, ?it/s]

2299it [00:31, 73.84it/s]

0
0
1538
0.0
0.0

In [33]:
def loose_eval(s, l):
    for i in l:
        if s in i or i in s:
            return True
    return False

In [ ]:
extract = []
diff = []
count = 0

for row in df_total.iterrows():
    
    input_text = row[1][1]
    
    input_text = re.sub(r'(\(.*\))', '', input_text)
    
    result = test_regex.match(input_text)
    
    if len(input_text.split(' ')) > 3:
        
        result = test_regex.match(input_text)

        if result is not None and result.groups()[-2] in units:
            
            if result.groups()[-1] != '':

                result = result.groups()[-1]
            
            else:
                
                result = row[1][1]
                
        else:
                
            result = row[1][1]

    else:
                
        result = row[1][1]
    

    chunking = nltk.RegexpParser(gram)
    sent_token = nltk.word_tokenize(result)
    tagging = nltk.pos_tag(sent_token)
    tree = chunking.parse(tagging)
    
    result = []

    for subtree in tree.subtrees():
        if subtree.label() == 'NP':
            result.extend(subtree.leaves())
            
    final = " ".join([x[0] for x in result])
    
    if final is not None:
        if row[1][2] in final:
            count += 1
        else:
            diff.append(f'{input_text}, {final}, {row[1][2]} \n')
        extract.append(final)
        
file = open('compare.txt', 'w')

file.writelines(diff)

file.close()
            
print(count)
print(len(df_total))
print(count/len(df_total))

In [130]:
file = open('compare.txt', 'w')

file.writelines(diff)

file.close()

In [36]:
input_text = "boneless pork belly"
    
input_text = re.sub(r'(\(.*\))', '', input_text)

if len(input_text.split(' ')) > 3:

    result = test_regex.match(input_text)

    if result is not None and result.groups()[-2] in units:
        
        
        if result.groups()[-1] != '':

            result = result.groups()[-1]
        
        else:
            
            result = input_text
            
    else:
            
        result = input_text

else:
            
    result = input_text
    
print(result)

chunking = nltk.RegexpParser(gram)
sent_token = nltk.word_tokenize(result)
tagging = nltk.pos_tag(sent_token)
tree = chunking.parse(tagging)

print(tree)

result = []

for subtree in tree.subtrees():
    if subtree.label() == 'NP':
        result.extend(subtree.leaves())
        
final = " ".join([x[0] for x in result])

print(final)

boneless pork belly
(S (NP boneless/NN pork/NN) belly/RB)
boneless pork

In [106]:
df_total['extract'] = extract

In [107]:
df_total

,ID,INQs,Ingredients,extract
0,2,500 g asparagus,asparagus,asparagus
1,2,300 g butter,butter,butter
2,2,4 egg yolks,eggs,egg yolks
3,2,4 slices of sourdough,sourdough,sourdough
4,2,2 tsp white wine v...,wine vinegar,wine vinegar
...,...,...,...,...
20405,902,1 small frozen ban...,banana,banana half banana
20406,902,1 cup almond milk,almond milk,almond milk
20407,902,3.5 oz packet froz...,packet frozen acai,packet acai
20408,903,1 small frozen ban...,banana,banana half banana
20409,903,1 cup almond milk,almond milk,almond milk

In [85]:
df_total[df_total['Ingredients'] != df_total['extract']]

,ID,INQs,Ingredients,extract
2,2,4 egg yolks,eggs,yolks
7,4,4 rashers smoked s...,streaky bacon,bacon
8,4,4 spring onions,spring onion,onions
12,4,400 g minced pork,minced pork,pork
14,4,3 cm knob of ginger,ginger,knob ginger
...,...,...,...,...
20393,1819721957,1.0 serving olive oil,olive oil,oil
20395,900,2 fresh mangoes or...,mango,mangoes cups mango
20399,901,4 mandarin oranges,mandarin oranges,oranges
20403,901,1 teaspoon vanilla extract,vanilla,vanilla extract
20407,902,3.5 oz packet froz...,packet frozen acai,packet acai

In [41]:
df_total.loc[[22]]

    ID                              INQs   Ingredients
22   4   sweet  chilli sauce,   to serve  chilli sauce