In [1]:
import pandas as pd

df = pd.read_pickle("ingr_map.pkl")

In [2]:
df

,raw_ingr,raw_words,processed,len_proc,replaced,count,id
0,"medium heads bibb or red leaf lettuce, washed,...",13,"medium heads bibb or red leaf lettuce, washed,...",73,lettuce,4507,4308
1,mixed baby lettuces and spring greens,6,mixed baby lettuces and spring green,36,lettuce,4507,4308
2,romaine lettuce leaf,3,romaine lettuce leaf,20,lettuce,4507,4308
3,iceberg lettuce leaf,3,iceberg lettuce leaf,20,lettuce,4507,4308
4,red romaine lettuce,3,red romaine lettuce,19,lettuce,4507,4308
...,...,...,...,...,...,...,...
11654,soybeans,1,soybean,7,soybean,31,6702
11655,goose,1,goose,5,goose,8,3318
11656,ajwain,1,ajwain,6,ajwain,13,47
11657,brinjals,1,brinjal,7,brinjal,2,750
11658,khoya,1,khoya,5,khoya,6,4061

In [2]:
df_clean = df[['replaced', 'id']].drop_duplicates().sort_values(by=['id'])

In [3]:
df_clean

                 replaced    id
3483  's baking chocolate     0
3151    's chocolate chip     1
4941    's hugs chocolate     2
6931             's sauce     3
5290        's sour cream     4
...                   ...   ...
9382           ziploc bag  8018
9638          ziti pastum  8019
7172         ziti rigatus  8020
2114             zucchini  8021
7609       zwieback toast  8022

[8023 rows x 2 columns]

In [5]:
df_clean.to_csv('ingredients_list_clean2.csv')

In [4]:
df_good_paper = pd.read_csv('ingredients_list_clean2.csv')
df_koen = pd.read_csv('ingredient-list.csv', encoding='windows-1252')
df_recipedb = pd.read_csv('ingredients_list_clean.csv')

In [5]:
df_good_paper.drop(columns=['Unnamed: 0', 'id'], inplace=True)
df_good_paper.sort_values(by=['replaced'], inplace=True)

df_koen.drop(columns=['Type of ingredient', 'Synonyms'], inplace=True)

df_recipedb.drop(columns=['Unnamed: 0', 'link'], inplace=True)
df_recipedb.sort_values(by=['ingredients'], inplace=True)

In [6]:
recipeDB = df_recipedb['ingredients'].to_list()
koenDB = df_koen['Ingredient name'].to_list()
paperDB = df_good_paper['replaced'].to_list()

In [47]:
in_all_3 = []
missing = []

for i in paperDB:
    if i in koenDB or i in recipeDB:
        in_all_3.append(i)
    else:
        missing.append(i)
        
print(len(in_all_3), len(missing))

4210 3813

In [113]:
combined = koenDB + paperDB

combined_clean = sorted(list(set(combined)))

In [65]:
with open('ingredients.txt', 'w') as f:
    f.writelines([x+'\n' for x in combined_clean])

In [ ]:
combined_clean

In [67]:
from Levenshtein import distance

distance("lewenstein", "levenshtein")

2

In [89]:
cleanup = []
temp = []

for idx, i in enumerate(combined_clean):

    if idx < len(combined_clean) - 2:
        if 1 - cos.distance(i, combined_clean[idx+1]) > 0.85:
            if temp == []:
                cleanup.append(i)
            else:
                temp.append(i)
                cleanup.append(temp)
                temp = []
                
        else:
            temp.append(i)

In [88]:
from strsimpy import Cosine

cos = Cosine(1)

1 - cos.distance('beets', 'bel paese cheese')

0.8017837257372731

In [ ]:
cleanup

In [100]:
a = ['achiote',
'achiote annato',
'achiote oil',
'achiote paste',
'achiote paste cube',
'achiote paste rehydrate pepper',
'achiote powder',
'achiote seed',
'achiote seed annatto',
'beer']

In [114]:
tree = {}

for i in combined_clean:
    target = tree
    tokens = i.split(' ')
    
    for idx, token in enumerate(tokens):
        if token not in target:
            target[token] = {}
        target = target[token]

In [115]:
import json 

with open("tree.json", "w") as outfile: 
    json.dump(tree, outfile)

In [ ]:
{'achiote': {'annato': {},
  'oil': {},
  'paste': {'rehydrate': {'pepper': {}}},
  'powder': {},
  'seed': {'annatto': {}}},
 'beer': {}}

In [7]:
recipeDB = df_recipedb['ingredients'].to_list()
koenDB = df_koen['Ingredient name'].to_list()
paperDB = df_good_paper['replaced'].to_list()

In [76]:
recipeDB_1 = [x for x in recipeDB if len(x.split(' ')) == 1]
recipeDB_2 = [x for x in recipeDB if len(x.split(' ')) == 2]
recipeDB_3 = [x for x in recipeDB if len(x.split(' ')) == 3]
recipeDB_4 = [x for x in recipeDB if len(x.split(' ')) == 4]
recipeDB_5 = [x for x in recipeDB if len(x.split(' ')) > 4]

In [74]:
len(recipeDB_1)

1304

In [78]:
outer_recipeDB = []
intersect_1_recipeDB = []

for i in recipeDB_1:
    if i not in intersect_1_total:
        outer_recipeDB.append(i)
    else:
        intersect_1_recipeDB.append(i)
        
print(len(outer_recipeDB))
print(len(intersect_1_recipeDB))
print(len(outer_recipeDB + intersect_1_recipeDB))
print(len(recipeDB_1))

486
818
1304
1304

In [ ]:
with open('1_intersect.txt', 'r') as f:
    intersect_1 = f.readlines()
    
intersect_1 = [x.strip() for x in intersect_1]
    
with open('1_out.txt', 'r') as f:
    intersect_1_other = f.readlines()
    
intersect_1_other = [x.strip().split(' ')[0] for x in intersect_1_other if x.strip().split(' ')[1] == 'In']

intersect_1_total = set(intersect_1 + intersect_1_other)

In [80]:
from itertools import permutations 

def test_include(string, set_ingr, len):
    perm = permutations(string.split(' '), len)
    
    for i in perm:
        if ' '.join(i) in set_ingr:
            return True
    
    return False

assert test_include('bean', intersect_1_total, 1) == True
assert test_include('bean', 'bean stalk', 1) == True
assert test_include('bean stalk', intersect_1_total, 1) == True
assert test_include('stalk', intersect_1_total, 1) == False

In [20]:
with open('1_intersect.txt', 'r') as f:
    intersect_1 = f.readlines()
    
intersect_1 = [x.strip() for x in intersect_1]
    
with open('1_out.txt', 'r') as f:
    intersect_1_other = f.readlines()
    
intersect_1_other = [x.strip().split(' ')[0] for x in intersect_1_other if x.strip().split(' ')[1] == 'In']

intersect_1_total = set(intersect_1 + intersect_1_other)

In [22]:
len(intersect_1_total)

1555

In [60]:
koenDB_1 = [x for x in koenDB if len(x.split(' ')) == 1]
paperDB_1 = [x for x in paperDB if len(x.split(' ')) == 1]

koenDB_2 = [x for x in koenDB if len(x.split(' ')) == 2]
paperDB_2 = [x for x in paperDB if len(x.split(' ')) == 2]

koenDB_3 = [x for x in koenDB if len(x.split(' ')) == 3]
paperDB_3 = [x for x in paperDB if len(x.split(' ')) == 3]

koenDB_4 = [x for x in koenDB if len(x.split(' ')) == 4]
paperDB_4 = [x for x in paperDB if len(x.split(' ')) == 4]

koenDB_5_plus = [x for x in koenDB if len(x.split(' ')) > 4]
paperDB_5_plus = [x for x in paperDB if len(x.split(' ')) > 4]

In [39]:
outer = []
intersect = []

for i in koenDB_1:
    if i not in paperDB_1:
        outer.append(i)
    else:
        intersect.append(i)
    
        
for i in paperDB_1:
    if i not in koenDB_1:
        outer.append(i)
    else:
        intersect.append(i)
        
print(len(outer))
print(len(intersect))
print(len(outer + intersect))
print(len(koenDB_1 + paperDB_1))

1103
935
2038
2038

In [42]:
outer_2 = []
intersect_2 = []
sub_ingr_2 = []

for i in koenDB_2:
    if test_include(i, intersect_1_total, 1):
        sub_ingr_2.append(i)
    elif i not in paperDB_2:
        outer_2.append(i)
    else:
        intersect_2.append(i)
    
        
for i in paperDB_2:
    if test_include(i, intersect_1_total, 1):
        sub_ingr_2.append(i)
    elif i not in koenDB_2:
        outer_2.append(i)
    else:
        intersect_2.append(i)
        
print(len(outer_2))
print(len(intersect_2))
print(len(sub_ingr_2))
print(len(outer_2 + intersect_2 + sub_ingr_2))
print(len(koenDB_2 + paperDB_2))

277
76
5565
5918
5918

In [44]:
with open('2_intersect.txt', 'r') as f:
    intersect_2 = f.readlines()
    
intersect_2 = [x.strip() for x in intersect_2]

with open('2_sub.txt', 'r') as f:
    sub_2 = f.readlines()
    
sub_2 = [x.strip() for x in sub_2]
    
with open('2_outer_out.txt', 'r') as f:
    intersect_2_other = f.readlines()
    
intersect_2_other = [x.strip().split(' ')[0] for x in intersect_2_other if x.strip().split(' ')[1] == 'In']

intersect_2_total = set(intersect_2 + intersect_2_other + sub_2)

In [ ]:
intersect_2_total

In [51]:
outer_3 = []
intersect_3 = []
sub_ingr_3 = []

for i in koenDB_3:
    if test_include(i, intersect_1_total, 1) or test_include(i, intersect_2_total, 2):
        sub_ingr_3.append(i)
    elif i not in paperDB_3:
        outer_3.append(i)
    else:
        intersect_3.append(i)
    
        
for i in paperDB_3:
    if test_include(i, intersect_1_total, 1) or test_include(i, intersect_2_total, 2):
        sub_ingr_3.append(i)
    elif i not in koenDB_3:
        outer_3.append(i)
    else:
        intersect_3.append(i)
        
print(len(outer_3))
print(len(intersect_3))
print(len(sub_ingr_3))
print(len(outer_3 + intersect_3 + sub_ingr_3))
print(len(koenDB_3 + paperDB_3))

77
22
2884
2983
2983

In [53]:
with open('3_intersect.txt', 'r') as f:
    intersect_3 = f.readlines()
    
intersect_3 = [x.strip() for x in intersect_3]

with open('3_sub.txt', 'r') as f:
    sub_3 = f.readlines()
    
sub_3 = [x.strip() for x in sub_3]
    
with open('3_outer_out.txt', 'r') as f:
    intersect_3_other = f.readlines()
    
intersect_3_other = [x.strip().split(' ')[0] for x in intersect_3_other if x.strip().split(' ')[1] == 'In']

intersect_3_total = set(intersect_3 + intersect_3_other + sub_3)

In [56]:
outer_4 = []
intersect_4 = []
sub_ingr_4 = []

for i in koenDB_4:
    if test_include(i, intersect_1_total, 1) or test_include(i, intersect_2_total, 2) or test_include(i, intersect_3_total, 3):
        sub_ingr_4.append(i)
    elif i not in paperDB_4:
        outer_4.append(i)
    else:
        intersect_4.append(i)
    
        
for i in paperDB_4:
    if test_include(i, intersect_1_total, 1) or test_include(i, intersect_2_total, 2) or test_include(i, intersect_3_total, 3):
        sub_ingr_4.append(i)
    elif i not in koenDB_4:
        outer_4.append(i)
    else:
        intersect_4.append(i)
        
print(len(outer_4))
print(len(intersect_4))
print(len(sub_ingr_4))
print(len(outer_4 + intersect_4 + sub_ingr_4))
print(len(koenDB_4 + paperDB_4))

8
0
691
699
699

In [68]:
with open('4_intersect.txt', 'r') as f:
    intersect_4 = f.readlines()
    
intersect_4 = [x.strip() for x in intersect_4]

with open('4_sub.txt', 'r') as f:
    sub_4 = f.readlines()
    
sub_4 = [x.strip() for x in sub_4]
    
with open('4_outer_out.txt', 'r') as f:
    intersect_4_other = f.readlines()
    
intersect_4_other = [x.strip().split(' ')[0] for x in intersect_4_other if x.strip().split(' ')[1] == 'In']

intersect_4_total = set(intersect_4 + intersect_4_other + sub_4)

In [66]:
outer_5 = []
intersect_5 = []
sub_ingr_5 = []

for i in koenDB_5_plus:
    if test_include(i, intersect_1_total, 1) or test_include(i, intersect_2_total, 2) or test_include(i, intersect_3_total, 3) or test_include(i, intersect_4_total, 4):
        sub_ingr_5.append(i)
    elif i not in paperDB_5_plus:
        outer_5.append(i)
    else:
        intersect_5.append(i)
    
        
for i in paperDB_5_plus:
    if test_include(i, intersect_1_total, 1) or test_include(i, intersect_2_total, 2) or test_include(i, intersect_3_total, 3) or test_include(i, intersect_4_total, 4):
        sub_ingr_5.append(i)
    elif i not in koenDB_5_plus:
        outer_5.append(i)
    else:
        intersect_5.append(i)
        
print(len(outer_5))
print(len(intersect_5))
print(len(sub_ingr_5))
print(len(outer_5 + intersect_5 + sub_ingr_5))
print(len(koenDB_5_plus + paperDB_5_plus))

3
0
231
234
234

In [70]:
with open('5_intersect.txt', 'r') as f:
    intersect_5 = f.readlines()
    
intersect_5 = [x.strip() for x in intersect_5]

with open('5_sub.txt', 'r') as f:
    sub_5 = f.readlines()
    
sub_5 = [x.strip() for x in sub_5]
    
with open('5_outer_out.txt', 'r') as f:
    intersect_5_other = f.readlines()
    
intersect_5_other = [x.strip().split(' ')[0] for x in intersect_5_other if x.strip().split(' ')[1] == 'In']

intersect_5_total = set(intersect_5 + intersect_5_other + sub_5)

In [12]:
with open('1_intersect.txt', 'w') as f:
    f.writelines([x + '\n' for x in intersect])

In [ ]:
with open('1_out_extra.txt', 'w') as f:
    f.writelines([x + '\n' for x in intersect])

In [43]:
with open('2_intersect.txt', 'w') as f:
    f.writelines([x + '\n' for x in intersect_2])
    
with open('2_outer.txt', 'w') as f:
    f.writelines([x + '\n' for x in outer_2])

with open('2_sub.txt', 'w') as f:
    f.writelines([x + '\n' for x in sub_ingr_2])

In [52]:
with open('3_intersect.txt', 'w') as f:
    f.writelines([x + '\n' for x in intersect_3])
    
with open('3_outer.txt', 'w') as f:
    f.writelines([x + '\n' for x in outer_3])

with open('3_sub.txt', 'w') as f:
    f.writelines([x + '\n' for x in sub_ingr_3])

In [57]:
with open('4_intersect.txt', 'w') as f:
    f.writelines([x + '\n' for x in intersect_4])
    
with open('4_outer.txt', 'w') as f:
    f.writelines([x + '\n' for x in outer_4])

with open('4_sub.txt', 'w') as f:
    f.writelines([x + '\n' for x in sub_ingr_4])

In [67]:
with open('5_intersect.txt', 'w') as f:
    f.writelines([x + '\n' for x in intersect_5])
    
with open('5_outer.txt', 'w') as f:
    f.writelines([x + '\n' for x in outer_5])

with open('5_sub.txt', 'w') as f:
    f.writelines([x + '\n' for x in sub_ingr_5])

In [47]:
with open('1_total.txt', 'w') as f:
    f.writelines([x + '\n' for x in sorted(list(intersect_1_total))])

In [48]:
with open('2_total.txt', 'w') as f:
    f.writelines([x + '\n' for x in sorted(list(intersect_2_total))])

In [54]:
with open('3_total.txt', 'w') as f:
    f.writelines([x + '\n' for x in sorted(list(intersect_3_total))])

In [69]:
with open('4_total.txt', 'w') as f:
    f.writelines([x + '\n' for x in sorted(list(intersect_4_total))])

In [71]:
with open('5_total.txt', 'w') as f:
    f.writelines([x + '\n' for x in sorted(list(intersect_5_total))])

In [ ]:
with open('1.txt', 'w') as f:
    f.writelines([x + '\n' for x in outer])

In [116]:
'adda'.split(' ')

['adda']